::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

:-ms-input-placeholder {  
   color: #FFF;
}

form.searchbar {
	padding: 0px
}

.navbar .center {
	margin-right:0px;
	width:100%
}

input#query {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    -moz-appearance: none;
    border-radius: 0px;
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px 0px 10px;
    background-color: #00A7BD;
	border: none
}
table {
	width: 100%;
	color: #555
}
td {
    padding: 8px;
	background: #eee
}
td.tit {
    text-transform:uppercase;
	font-weight: bold;
	background: #333;
	color: #fafafa
}
input#cari {
    position: absolute;
    width: 56px;
    height: 100%;
    right: -16px;
    top: 0px;
    cursor: pointer;
	border: none;
	color: #fff;
    background-color: #00BCD4
}
#produk .col-50 {
	border: 0;
	border-bottom: 1px solid #ddd
}
#produk a {
	color: #212121
}
#produk p {
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.list-block .item-media img {
	height: 40px
}
#produk img {
	width: 100%
}
.badge {
	background: salmon
}
.item-title {
	width: 100%
}
.popover {
  width: 200px;
}
.popover-music {
  width: 240px;
}
.ks-grid div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
}
.ks-preloaders {
  text-align: center;
}
.ks-preloader-big {
  width: 42px;
  height: 42px;
}
.item-media img {
  width: auto;
  height: auto;
  max-width: 40px;
  border-radius: 50%;
}
.tabbar i.icon {
  -webkit-transition: 200ms;
  transition: 200ms;
}
.page[data-page="virtual-list"] .virtual-list li {
  height: 73px;
}
